@import '../mixins.scss';
.Page-Menu {
  .Menu {
    //Display
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    //All menu items for animation
    * {
      display: block;

      //Animation
      animation: fadein 0.35s;
      animation-fill-mode: backwards;
      @for $i from 1 through 4 {
        &:nth-child(#{$i}) {
          animation-delay: $i * 0.1s;
        }
      }
    }
  }
}

@keyframes fadein {
  0% {
    display: inline-block;
    transform: translateY(20px);

    opacity: 0;
  }
  100% {
    transform: translateY(0px);

    opacity: 1;
  }
}