.Page-Menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .Menu {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    hr {
      max-width: 250px;
      color: var(--color-text);
    }

    * {
      display: block;
      animation: fadein 0.35s;
      animation-fill-mode: backwards;

      @for $i from 1 through 4 {
        &:nth-child(#{$i}) {
          animation-delay: $i * 0.1s;
        }
      }
    }
  }
}

@keyframes fadein {
  0% {
    display: inline-block;
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}