@import '../mixins.scss';

// ===== Game Styles =====
.Page-Play {
  padding: 10px;

  @include mobile-only {
    font-size: 28px;
  }

  .LoadingBar {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%)
  }

  p {
    margin: 20px;
    
    @include mobile-only {
      display: none;
    }
  }

  .Portraits {
    //Display
    display: flex;
    width: 95vw;
    margin: auto;

    //Flex
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

    @include tablet-up {
      margin: 20px auto;
    }

    @include tablet-only {
      width: 350px;
    }
    
    @include laptop-only {
      width: 88vw;
    }

    @include desktop-only {
      width: 1000px;
    }
  }
}

// ===== Score Styles =====
.Page-Score {
  .TopHalf {
    background-color: var(--color-secondary);

    @include laptop-up {
      position: absolute;
      left: 0;
      width: 100vw;
      height: calc(50% - 108px);
    }

    .Report {
      position: relative;
      width: 320px;
      height: 320px;
      margin: auto;

      .Smiley {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%)
      }

      p {
        //Display
        position: absolute;
        left: 50%;
        bottom: 18px;
        width: 250px;
        transform: translateX(-50%);

        //Visual
        color: white;

        //Font
        text-align: center;

        @include laptop-up {
          width: 300px
        }
      }
    }
  }

  .Scoring {
    width: 300px;
    margin: auto;

    @include laptop-up {
      position: absolute;
      left: 50%;
      top: 60%;
      width: 100vw;
      transform: translateX(-50%);
      flex: auto;
    }

    .Category {
      display: inline-block;
      margin: 2vw;

      .Value {
        margin: 16px;
      }
    }
  }

  .Return {
    padding: 5px;

    @include laptop-up {
      position: absolute;
      top: calc(50% - 4px);
      left: 50%;
      transform: translate(-50%,-50%)
    }
  }
}