@import '../mixins.scss';
.Page-Play {
  padding: 10px;

  p {
    margin: 20px;
    
    @include mobile-only {
      display: none;
    }
  }

  .Portraits {
    margin: auto;
    width: 95vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

    @include tablet-up {
      margin: 20px auto;
    }

    @include tablet-only {
      width: 350px;
    }
    
    @include laptop-only {
      width: 88vw;
    }

    @include desktop-only {
      width: 1000px;
    }
  }
}

.Page-Score {
  .TopHalf {
    background-color: var(--color-secondary);

    @include laptop-up {
      position: absolute;
      left: 0;
      width: 100vw;
      height: calc(50% - 108px);
    }

    .Report {
      margin: auto;
      position: relative;
      width: 320px;
      height: 320px;

      .Smiley {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%)
      }

      p {
        width: 300px;
        position: absolute;
        bottom: 18px;
        color: white;
        text-align: center;
      }
    }
  }

  .Scoring {
    margin: auto;
    width: 300px;

    @include laptop-up {
      position: absolute;
      left: 50%;
      top: 60%;
      transform: translateX(-50%);
      width: 100vw;
      flex: auto;
    }

    .Category {
      display: inline-block;
      margin: 2vw;

      .Value {
        margin: 16px;
      }
    }
  }

  .Return {
    padding: 5px;

    @include laptop-up {
      position: absolute;
      top: calc(50% - 4px);
      left: 50%;
      transform: translate(-50%,-50%)
    }
  }
}