.Page-Play {
  p {
    margin: 16px;
  }
  .Name {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
  }
  .Portraits {
    margin: 40px;
    width: 1024px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.Page-Score {
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 50%;
    background-color: var(--color-brand-dark);
  }

  .TopHalf {
    .Report {
      margin: auto;
      position: relative;
      width: 320px;
      height: 320px;

      .Smiley {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%)
      }

      p {
        position: absolute;
        bottom: 18px;
        color: white;
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        text-align: center;
      }
    }
  }

  .Scoring {
    position: absolute;
    left: 50%;
    top: 60vh;
    transform: translateX(-50%);
    width: 100vw;

    .Category {
      display: inline-block;
      margin: 30px;

      .Value {
        font-size: 40px;
        line-height: 48px;
        font-weight: 700;
        margin: 16px;
      }
    }
  }

  .Return {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
  }
}