@import '../mixins.scss';
.Page-Title {
  min-height: 100vh;
  background-color: var(--color-brand-dark);
  color: white;

  .Logo {
    margin: 5vmin;
    width: 50vh;
    max-width: 85vw;
  }

  .Button {
    background-color: var(--color-brand);
  }
  
  p {
    margin: 8vh auto;
    width: 216px;

    @include laptop-up {
      width:320px;
    }
  }
}
