@import '../mixins.scss';

.EmployeePortrait {
  --result-fade-time: 0.5s;

  position: relative;
  width: 35vmin;
  height: 35vmin;
  margin: 5px;
  overflow: hidden;

  &>img {
    visibility: hidden;
  }

  @include tablet-only {
    width: 164px;
    height: 164px;
  }

  @include laptop-up {
    margin: 15px;
  }

  @include laptop-only {
    width: 200px;
    height: 200px;
    border-radius: 4px;
  }

  @include desktop-only {
    width: 250px;
    height: 250px;
  }

  .Portrait {
    position: relative;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    transition: opacity var(--result-fade-time);

    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      border: 1px solid gray;
      background-color: white;
      transition: opacity 0.5s;
    }

    &.Loaded:after {
      opacity: 0;
    }
  }

  &.Disabled .Portrait {
    opacity: 0.5;
  }

  .Evaluation {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    animation: fadein var(--result-fade-time) linear;
    animation-fill-mode: backwards;

    &.Correct {
      background-color: rgba(52, 199, 89, 0.6);
    }
    &.Incorrect {
      background-color: rgba(255, 59, 48, 0.6);
    }

    img {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 50%;
      height: 50%;
      transform: translate(-50%,-50%) scale(1);
      animation-fill-mode: both;
      animation: popin var(--result-fade-time) ease-in-out;
    }
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes popin {
  0% {
    transform: translate(-50%,-50%) scale(0);
  }
  60% {
    transform: translate(-50%,-50%) scale(1.5);
  }
  100% {
    transform: translate(-50%,-50%) scale(1);
  }
}

@keyframes loading {
  0% {
    background: white;
  }
  50% {
    background: rgb(128, 128, 128);
  }
  100% {
    background: white;
  }
}