.LoadingBar {
  position: relative;
  height: 30px;
  width: 200px;
  border: 1px solid black;
  border-radius: 14px;
  background-color: var(--color-primary);
  overflow: hidden;

  &:after {
    content: "";
    position: absolute;
    background-color: var(--color-secondary);
    height: 100%;
    width: 100%;
    animation: load linear 4s infinite;
  }
}

@keyframes load {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

@keyframes done {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}