@import '../mixins.scss';

.Logo {
  position: relative;
  width: 350px;
  max-width: 95vmin;
  margin: 20px auto;

  
  @include tablet-up {
    width: 462px;
    margin: 60px auto;
  }

  &:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  img.bullseye {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    animation: 6s ease-in-out pulse infinite;
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1);
    }
  }

  img.title {
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    width: 55%;
    height: 55%;
  }

  img.smiley {
    position: absolute;
    left:58%;
    top:23%;
    width:12%;
    height:12%;
    border-radius: 50%;
    box-shadow: -6px 8px #223547;
    transform: rotate(0);
  }

  div.particles {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}