.particle {
  width: 4%;
  position: absolute;
  transform: translate(-50%, -50%) rotate(0);
  animation: 8s linear infinite spin;

  &.reverse {
    animation-direction: reverse;
  }
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}