.Setting {
  cursor: pointer;
  
  .Checkbox {
    position: relative;
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius:3px;
    border: 1px solid var(--color-text);
    margin:0 0.5em;
  
    .Check {
      font-size: 1.5em;
      position: absolute;
      left: -5px;
      top: -5px;
      bottom: -5px;
      width: 0px;
      overflow: hidden;
      transition: width 0.15s;
    }

    &.Checked .Check {
      width: calc(100% + 12px);
    }
  }

  &:hover .Checkbox {
    background-color: gray;
  }
}