.Setting {
  //Display
  margin: 25px;

  //Visual
  cursor: pointer;
  
  .Checkbox {
    //Display
    position: relative;
    display: inline-block;
    width: 1em;
    height: 1em;
    margin:0 0.5em;

    //Visual
    border-radius:3px;
    border: 1px solid var(--color-text);
  
    .Check {
      //Display
      position: absolute;
      left: -5px;
      top: -5px;
      bottom: -5px;
      width: 0px;
      overflow: hidden;
      transition: width 0.15s;

      //Font
      font-size: 1.5em;
    }

    &.Checked .Check {
      width: calc(100% + 12px);
    }
  }

  &:hover .Checkbox {
    background-color: gray;
  }
}