.Nav {
  height: 104px;
  
  nav {
    position: fixed;
    z-index: 99;
    top:0;
    left: 0;
    right: 0;
    background-color: var(--color-brand-dark);
  }

  .Logo {
    height: 30px;
    margin: 33px auto;
  }

  button {
    background-color: transparent;
    border: none;
    display: block;
    position: absolute;
    width: 104px;
    height: 100%;
    font-size: 1.5em;
    line-height: 0;
    color: white;
    
    svg {
      transition: transform 0.2s;
    }

    &:hover svg {
      color: gray;
      transform: translateX(-10px);
    }
    
    &:after {
      content:"";
      padding-top: 100%;
    }
  }
}