@import '../mixins.scss';

.Nav {
  height: 54px;

  @include tablet-up {
    height: 104px;
  }
  
  nav {
    //Display
    position: fixed;
    z-index: 99;
    top:0;
    left: 0;
    right: 0;

    //Visual
    background-color: var(--color-secondary);
  }

  .Logo {
    height: 16px;
    margin: 16px auto;

    @include tablet-up {
      height: 30px;
      margin: 35px auto;
    }
  }

  button {
    //Display
    display: block;
    position: absolute;
    width: 60px;
    height: 100%;

    //Visual
    background-color: transparent;
    border: none;

    //Font
    font-size: 1.5em;
    line-height: 0;
    color: white;

    @include tablet-up {
      width: 104px;
    }
    
    svg {
      transition: transform 0.2s;
    }

    &:hover svg {
      color: gray;
      transform: translateX(-10px);
    }
    
    &:after {
      content:"";
      padding-top: 100%;
    }
  }
}