@import './variables.scss';
@import './mixins.scss';

body {
  position: relative;
  height: 100vh;
  width: 100vw;

  font: 400 17px Helvetica;
  line-height: 22px;

  @include laptop-up {
    font-size: 24px;
    line-height: 32px;
  }
}

.App {
  position: absolute;
  left: 0;
  width: 100vw;
  top: 0;
  min-height: 100vh;
  background-color: var(--color-page-background);
  color: var(--color-text);
  margin: auto;
  text-align: center;
}

.text-big {
  font-size: 30px;
  line-height: 41px;
  font-weight: 700;

  @include tablet-up {
    font-size: 40px;
    line-height: 48px;
  }
}