//Brand Colors
$color-brand-dark: #223547;
$color-brand: #15659D;

//Light Theme Colors
$color-light-background: white;
$color-light-text: #223547;
$color-light-primary: #15659D;
$color-light-secondary: #223547;

//Dark Theme Colors
$color-dark-background: #1E1E1E;
$color-dark-text: white;
$color-dark-primary: #15659D;
$color-dark-secondary: #3C3C3C;

.App {
  --color-brand: #{$color-brand};
  --color-brand-dark: #{$color-brand-dark};
  --color-page-background: #{$color-light-background};
  --color-text: #{$color-light-text};
  --color-primary: #{$color-light-primary};
  --color-secondary: #{$color-light-secondary};
}

.Dark {
  --color-page-background: #{$color-dark-background};
  --color-text: #{$color-dark-text};
  --color-primary: #{$color-dark-primary};
  --color-secondary: #{$color-dark-secondary};
}
