//Light Theme Colors
$color-light-background: white;
$color-light-text: black;
$color-light-primary: #75CBC4;
$color-light-secondary: #338A97;

//Dark Theme Colors
$color-dark-background: #223547;
$color-dark-text: white;
$color-dark-primary: #15659D;
$color-dark-secondary: #2B4C68;

:root {
  --color-page-background: #{$color-dark-background};
  --color-text: #{$color-dark-text};
  --color-primary: #{$color-dark-primary};
  --color-secondary: #{$color-dark-secondary};
}

.light {
  --color-page-background: #{$color-light-background};
  --color-text: #{$color-light-text};
  --color-primary: #{$color-light-primary};
  --color-secondary: #{$color-light-secondary};
}